<div class='flex justify-center'>
  <div class="flex flex-col w-2/5">
    <div class="font-bold text-4xl text-center mt-2">Create Article</div>

    <%= render 'form', article: @article %>
  </div>
</div>
