<nav class="bg-slate-300">
  <div class="h-16 flex items-center ml-4">
    <%= link_to "Blog App", root_path, class: 'font-bold text-2xl subpixel-antialiased tracking-wider text-blue-500' %>
  </div>
</nav>
