<nav class="bg-slate-300 w-screen flex">
  <div class="h-16 flex items-center justify-around w-full ml-4">
    <div>
      <%= link_to "Blog App", root_path, class: 'font-bold text-2xl subpixel-antialiased tracking-wider text-blue-500' %>
    </div>
    <div>
    <% if user_signed_in? %>
      <%= button_to 'Logout', destroy_user_session_path, method: :delete, class: 'btn btn-danger' %>
    <% else %>
      <%= link_to 'Log in', new_user_session_path, class: 'btn btn-primary' %>
    <% end %>
    </div>
  </div>
  
</nav>
